{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Product index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Libelle du produit</th>
            <th>Description</th>
            <th>Prix</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.product }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.prix }}</td>
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
